# data
heartattack/*.csv
regression/*.csv
mbti_ipip/data/*.csv
finance/data
*-checkpoint.ipynb
basic_nn/aclImdb_v1*
data_*.csv
test.db

# python environment
pyenv
.venv
__pycache__
__pycache__/
.ipynb_*
uv.lock

# temp workspace notebook
temp.ipynb
*_report*
temp.md
temp.py

# poc result
backup_result/

# secret
_secret*
.env
