# data
heartattack/*.csv
regression/*.csv
mbti_ipip/data/*.csv
finance/data
*-checkpoint.ipynb

# python environment
pyenv
.venv
__pycache__
__pycache__/
.ipynb_*
uv.lock

# temp workspace notebook
temp.ipynb
*_report*

# secret
_secret*
.env
